:root {
  --transition: 0.3s;
  --side-paddings: 20px;
  --page-padding-top: 24px;
  --page-padding-bottom: 48px;
  --font-main: system-ui, sans-serif;

  --header-announcement-height: 32px;
  --header-bar-height: 78px;
  --header-height: calc(
    var(--header-announcement-height) + var(--header-bar-height)
  );

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --primary-900: #0d100c;
  --primary-800: #111e29;
  --primary-700: #27312f;
  --primary-600: #546e5e;
  --primary-500: #748c70;
  --primary-400: #7b9c70;
  --primary-300: #83bb3b;
  --primary-200: #9fb695;
  --primary-100: #c2d7ba;
  --primary-50: #d1d9cf;
  --primary-25: #f0f2ef;
  --button-primary: #5a6d57;
  --button-primary-hover: #4a5b48;

  --neutral-gray: #404040;
  --black: #0c0c0c;
  --gray-900: #202020;
  --gray-800: #3e3e3e;
  --gray-700: #585858;
  --gray-650: #606060;
  --gray-600: #868686;
  --gray-500: #adadad;
  --gray-400: #cbcbcb;
  --gray-350: #dfdfdf;
  --gray-300: #dedede;
  --gray-200: #ededed;
  --gray-100: #f9f9f9;
  --white: #ffffff;
  --favorite: #c30000;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

main {
  flex: 1 0 auto;
}

html:has([data-lock-scroll="true"]),
body:has([data-lock-scroll="true"]) {
  overflow: hidden;
}

/* focus */
*:focus-visible {
  outline: 2px solid var(--primary-600);
  outline-offset: 2px;
}
.footer {
  background: #404040 !important;
}

.container {
  /* display: flex; */
  max-width: 1320px;
  width: 100%;
  margin: auto;
}
