@use "@/shared/styles/variables" as vars;

@mixin mobile {
  @media (max-width: vars.$bp-mobile-max) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: vars.$bp-tablet-max) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: vars.$bp-desktop-min) {
    @content;
  }
}

@mixin font($size, $weight, $lineHeight, $letterSpacing: null) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;

  @if $letterSpacing != null {
    letter-spacing: $letterSpacing;
  }
}

@mixin flex(
  $direction: row,
  $align: stretch,
  $justify: flex-start,
  $gap: null
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;

  @if $gap != null {
    gap: $gap;
  }
}
