@use "@/shared/styles/typography" as typo;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 25px;
  border: 1px solid var(--button-primary);
  background-color: var(--button-primary);
  color: var(--white);
  text-decoration: none;
  transition:
    background-color var(--transition),
    border-color var(--transition);
  @include typo.button-sm;

  &:hover {
    background-color: var(--button-primary-hover);
    border-color: var(--button-primary-hover);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.secondary {
  border-color: var(--gray-200);
  background-color: var(--white);
  color: var(--gray-800);
  transition: var(--transition);

  &:hover {
    background-color: var(--button-primary-hover);
    border-color: var(--gray-200);
    color: var(--white);
  }
}

.icon {
  width: auto;
  min-width: 0;
  height: auto;
  min-height: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  line-height: 0;

  &:hover {
    background-color: transparent;
    border-color: transparent;
    opacity: 0.85;
  }

  &:disabled {
    opacity: 0.5;
  }
}
