@use "@/shared/styles/typography" as typo;
@use "@/shared/styles/mixins" as *;

.breadcrumbs_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs_item {
  position: relative;
  @include typo.body-lg;
  display: flex;
  align-items: center;
  gap: 14px;
  color: var(--black);
  padding: 6px;

  &:not(:last-child)::after {
    content: "/";
    display: inline-flex;
    color: var(--gray-500);
  }

  a {
    text-decoration: none;
    color: var(--primary-500);
  }
}

@include mobile {
  .breadcrumbs_item {
    @include typo.body-xs;
  }
}
