@use "@/shared/styles/typography" as typo;
@use "@/shared/styles/mixins" as *;

.info {
  text-align: center;
  color: var(--white);
  background-color: var(--primary-600);
  @include typo.overline-sm;
  padding: 8px var(--side-paddings);
}

.header {
  z-index: 999;
  position: relative;
  background-color: var(--white);
  padding: 0 var(--side-paddings);
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.nav {
  @include typo.body-lg;
  display: flex;
  align-items: center;
  gap: 24px;

  @include tablet {
    display: none;
  }

  .navItem {
    padding: 3px 12px;
    display: flex;
    align-items: center;

    .navItemIcon {
      display: flex;
      transition: var(--transition);
    }
    .navLink {
      transition: var(--transition);
      color: var(--neutral-gray);
      text-decoration: none;
    }
    &.active,
    &:hover {
      .navItemIcon {
        transform: rotate(180deg) translateY(-1px);
      }
      .navLink {
        color: var(--black);
      }
    }
  }
}

.actions {
  display: flex;
  gap: 24px;

  .action {
    position: relative;
    padding: 0;
    border: 0;
    background: none;
    display: flex;
  }
  .action.favorites svg {
    transition: var(--transition);
    path {
      fill: transparent;
      transition: var(--transition);
    }
    &:hover path {
      stroke: var(--favorite);
      fill: var(--favorite);
    }
  }
  @include desktop {
    .action.menu {
      display: none;
    }
  }
  @include tablet {
    gap: 20px;
  }
  @include mobile {
    gap: 10px;
    .action.search,
    .action.profile {
      display: none;
    }
  }
}

.badge {
  position: absolute;
  top: -6px;
  right: -8px;
  display: inline-flex;
  min-width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  border-radius: 999px;
  background: var(--button-primary);
  color: var(--white);
  @include typo.caption-sm;
}

.navItemWrapper.active .dropdownWrapper {
  display: block;
}

.dropdownWrapper {
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
  padding-top: 27px;
}

.dropdown {
  background-color: var(--white);
  padding: 27px var(--side-paddings);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  .container {
    @include flex(row, flex-start, flex-start, 80px);
  }
}
